<header class="manager-header">
  <div id="navbar" class="manager-header-navbar layout-padding" [ngClass]="{'compactHeader': !expandedHeader}">
    <div class="manager-navbar-title">
      <svg-icon
        src="assets/icons/reel-logo.svg"
        [svgStyle]="{ 'width.px':32 }"
        class="manager-logo">
      </svg-icon>
      Manager
    </div>
    <div class="manager-navbar-extra">
      <div name="search" class="header-form-search" *ngIf="screenSize >= smScreen">
        <input type="text" [(ngModel)]="searchText" autocomplete="off">
      </div>
      <div class="navbar-chevron">
        <button class="plain-button navbar-chevron-btn" (click)="handleHeaderToggler()" aria-label="Toggle header">
          <svg-icon
            src="{{ expandedHeader ? 'assets/icons/chevron-down.svg' : 'assets/icons/chevron-up.svg' }}"
            [svgStyle]="{ 'width.px':22 }">
          </svg-icon>
        </button>
      </div>
    </div>
  </div>
  <div name="search" *ngIf="screenSize < smScreen && expandedHeader" class="header-form-search">
    <input type="text" [(ngModel)]="searchText" autocomplete="off">
  </div>
</header>
